<h1>Users</h1>
<%@users.each do |u|%>
<%= link_to u.username, user_path(u) %><br>
<%end%>
<br>
<br>
<hr>

<hr>
Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete%>