<h1> Welcome to Eventr! </h1>

<%= link_to "Sign-In", sign_in_path%>
<br>
<br>
<h2>Upcoming Events:</h2> 
<%@events.future_events.each do |event|%>
<%=link_to event.title, event_path(event)%> - <%=event.time_format%><br>
<%end%>