<h1> Interests </h1>
<ul>
<%@interests.each do |int| %>
<li><%=link_to int.name, interest_path(int)%></li>
<%end%>
</ul>












<hr>
<%= link_to 'See All Events', events_path%><br>
<hr>
 Logged In As: <%=link_to session[:username], user_path(session[:id])%> 
<br>
<%= button_to 'log out', {:controller => :sessions, :action => 'destroy'}, :method => :delete, class: "btn btn-primary"%>
